body{
  background-color: #FAFAFA ;
}



main{
  min-height: 80vh;
}




/* 
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  z-index: 1;
}

.dropdown-content p {
  margin: 0;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
} */


a{
  text-decoration: none;
  color: inherit;
}



#p{
  margin: 0;
}


