.typed {
  color: grey;
}

.wrong{
  color: red;
}

.current {
  animation: animate-bg 1s infinite;
}

@keyframes animate-bg {
  0% {background-color: transparent;}
  50% {background-color: grey;}
  0% {background-color: transparent;}
}

.container {
  position: absolute;
  right: 20vw;
  top: 10vh;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
}

.switch div {
  position: absolute;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.switch.checked div {
  transform: translateX(26px);
  background-color: black;
}

#text{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
}

.left{
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

header{
  display: flex;
  justify-content: space-between;
}

.right{
  display: flex;
  padding-right: 10vw;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo{
  height: 50px;
  width: auto;
}

.profile-text{
  display: flex;
  justify-content: space-between;
}

.profile-code{
  display: flex;
  justify-content: space-between;
}

.box{
  height: 15vh;
  width: 25vh;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-center{
  display: flex;
  justify-content: center;
}

.profile{
  margin-left: 20vw;
  margin-right: 20vw;
}