.typed {
  color: grey;
}

.wrong{
  color: red;
}

.current {
  animation: animate-bg 1s infinite;
}

@keyframes animate-bg {
  0% {background-color: transparent;}
  50% {background-color: grey;}
  0% {background-color: transparent;}
}