.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: black;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    z-index: 1;
  }
  
.p {
    margin: 0;
    padding: 8px 16px;
    cursor: pointer;
}
  
.p:hover {
    background-color: #f0f0f0;
}
  
  .dropdown:hover .dropdowncontent {
    display: block;
  }
  